<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
<link rel="stylesheet" href="/css/forms.css">

</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <ul class="cart__item-list">
            <% products.forEach(p => { %>
            <li class="cart__item">
                <h1><%= p.productId.title %></h1>
                <h2>Quantity: <%= p.quantity %></h2>
            </li>
            <% }) %>
        </ul>
        <div class="centered">
            <h2>Total: <%= totalSum %></h2>
        </div>

        <script src="https://js.stripe.com/v3/"></script>
        <div class="">
            <form class="payment-form" action="/create-order" method="post" id="payment-form">
                <div class="form-control">
                    <label for="card-element">
                        Credit or debit card
                    </label>
                    <div id="card-element">
                        <!-- A Stripe Element will be inserted here. -->
                    </div>

                    <!-- Used to display Element errors. -->
                    <div id="card-errors" role="alert"></div>
                </div>
                <div class="form-control">
                    <label for="card-exp">
                        Credit or debit card
                    </label>
                    <div id="card-exp">
                        <!-- A Stripe Element will be inserted here. -->
                    </div>

                    <!-- Used to display Element errors. -->
                    <div id="exp-errors" role="alert"></div>
                </div>
                <div class="form-control">
                    <label for="card-cvc">
                        Credit or debit card
                    </label>
                    <div id="card-cvc">
                        <!-- A Stripe Element will be inserted here. -->
                    </div>

                    <!-- Used to display Element errors. -->
                    <div id="cvc-errors" role="alert"></div>
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn">Submit Payment</button>
            </form>
        </div>



    </main>
    <%- include('../includes/end.ejs') %>
    <script src="js/checkout.js"></script>